# Docker Compose
COMPOSE_PROJECT_NAME=enrutaco

# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo

# Odoo
ODOO_VERSION=19.0
ODOO_PORT=8069

# PostgreSQL
PG_PORT=5432

# Time Zone
TZ=America/Bogota