# ===========================
# Local environment
# ===========================
.env

# ===========================
# Odoo logs
# ===========================
*.log

# ===========================
# PostgreSQL Data
# ===========================
data/postgres/**
!data/postgres/.gitkeep

# ===========================
# Odoo Filestore
# ===========================
data/filestore/**
!data/filestore/.gitkeep

# ===========================
# Sessions
# ===========================
data/sessions/**
!data/sessions/.gitkeep

# ===========================
# Backups
# ===========================
backups/

# ===========================
# Temporary files
# ===========================
tmp/